{
  "parser": "babel-eslint",
  "extends": "defaults/configurations/google",
  "rules": {
    "quotes": [0]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "babel",
    "react"
  ]
}
