Django==1.8.5
PyYAML==3.11
dj-database-url==0.3.0
dj-static==0.0.6
uwsgi==2.0.11.1
psycopg2==2.6
tox>=2.0.2,<3.0.0
static3==0.6.1
requests==2.8.1
djangorestframework==3.3.0
django-oauth-toolkit==0.9.0
requests-oauthlib==0.5.0
newrelic==2.54.0.41
stripe==1.27.1
django-server-status==0.1.1
