Django==1.8.5
PyYAML==3.11
dj-database-url==0.3.0
dj-static==0.0.6
uwsgi==2.0.11.1
psycopg2==2.6
tox>=2.0.2,<3.0.0
static3==0.6.1
django-oscar==1.1.1
git+https://github.com/django-oscar/django-oscar-api.git@725806683dc5d3467d10f0941f93bdbe960e523f#egg=django-oscar-api==0.0.36-odl
