@import "bourbon";
@import "neat";
@import "grid-settings";
@import "variables";

$border-box-sizing: true !global;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $darkgrey;
  margin-top: 0;
}

#container {
    @include outer-container;

    #header {
      @include pad($block-padding);
      h1 {
          font-size: large;
      }
      background-color: white;
      border: 1px solid #ddd;
      #navigation {
        display: inline-block;
        button div span {
          text-transform: initial;
        }
      }
      img {
        width: 200px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    #body {
        @include pad($block-padding);
        @include fill-parent;
        background-color: $lightgrey;
        border: 1px solid #ddd;
    }

    #footer {
      @include pad($block-padding);
      background-color: black;
      color: white;
      img {
        width: 100px;
      }
      #links, #address {
        margin-left: 10px;
        font-size: 12px;
        a {
          padding-right: 10px;
          color: #358CDD;
        }
      }
    }
}
