@import "bourbon";
@import "neat";
@import "grid-settings";
@import "variables";

$border-box-sizing: true !global;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $darkgrey;
  margin-top: 0;
  #container {
    @include outer-container;

    #header {
      @include pad($block-padding);
      h1 {
          font-size: large;
      }
      background-color: white;
      border: 1px solid #ddd;
      #navigation {
        display: inline-block;
        button.mdl-button {
          text-transform: initial;
          padding: 0 30px;
        }
      }
      img {
        width: 200px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    #course-body {
        @include pad($block-padding);
        @include fill-parent;
        background-color: $lightgrey;
        border: 1px solid #ddd;

        #course-content {
          @include pad($block-padding);
          width: 100%;

          #course-title {
            padding: 0;
            h2 {
              font-weight: 600;
              color: #545454;
              font-size: 36px;
            }
          }

          #course-byline {
            padding: 0;
            h2 {
              font-size: 26px;
              color: #bbb;
              font-weight: 200;
            }
          }

          #course-image {
            max-width: 400px;
            min-height: 250px;
          }

          #course-description {
            vertical-align: top;
            font-size: 18px;
            line-height: 2em;
            width: 100%;
            padding-top: 0;
          }

          #course-tabs-card {
            margin-top: 20px;
            #content {
              margin-top: 20px;
              table {
                width: 100%;
                td {
                  height: 100px;
                  .mdl-tooltip {
                      background: white;
                      color: #000;
                      max-width: 100%;
                      position: static;
                      text-align: left;
                  }
                  a {
                    text-decoration: none;
                    color: black;
                    border-bottom-style: dashed;
                    border-bottom-width: thin;
                  }
                }
              }
              .mdl-data-table {
                thead {
                  background-color: #CDEEFF;
                  th {
                    font-size: 16px;
                    font-weight: 700;
                  }
                }
              }
            }


            #course-tabs {
             .mdl-tabs__tab-bar {
              justify-content: space-between;
              .mdl-tabs__tab {
                width:25%;
              }
             }
             font-size: 14px;
            }
          }
        }
      }

    #footer {
      @include pad($block-padding);
      background-color: black;
      color: white;
      img {
        width: 100px;
      }
      #links, #address {
        margin-left: 10px;
        font-size: 12px;
        a {
          padding-right: 10px;
          color: #358CDD;
        }
      }
    }
  }
}
